html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #71117d ;
  }
  
 h1{
  cursor: pointer;
 }
 #choosen-paymenttype{
  cursor: pointer;
 }

   form{
       padding: 30px;
      text-align: center;
       background-color: white;
   }
   input[type="text"]{
       border: none;
       border-bottom: 1px solid #71117d ;
       width: 60%;
       outline: none;
   }
  
 
   input[type="submit"]{
       color: white;
       background-color: #71117d ;
       width: 60%;
       height: 25px;
       border: solid rgba(255, 255, 255, 0);
       margin-bottom: 30px;
       cursor: pointer;

      
   }
   input[type="reset"]{
       color: white;
       background-color:#71117d ;
       width: 60%;
       height: 25px;
       border: solid rgba(255, 255, 255, 0);
       margin-bottom: 30px;
       cursor: pointer;

      
   }
   input{
       margin-top: 15px;
       margin-left: 15px;
   }
   menu{display: flex;
       flex-direction: row;
       display: flex;
       justify-content: center;
       

   }
   

  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Open sans', sans-serif;
    padding-bottom: 50px;
    
    &:after {
      content:'';
      position: fixed;
      left: 0;
      top: 0;
      z-index: -2;
      opacity: .2;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    &:before {
      content:'';
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: .2;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);
    }
    
    &.cc-bg {
    background: linear-gradient(45deg, #cb60b3 0%,#71117d 50%,#39296b 100%);   
      &:after {
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/513985/bg-cc-form.jpg);
      }
    }
    
    &.ec-bg {
    background: linear-gradient(45deg,#a3caeb 0%,#528ec4 50%,#01578a 100%);   
      &:after {
        background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/513985/world.png);
        opacity: .1;
        background-size: auto;
        background-position: center center;
      }
    }
    
    &.pp-bg {
      background: linear-gradient(45deg, #fff 0%,#cfcfcf 80%,#aaa 100%);
      &:after {
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/513985/bg-pp.png);
            background-repeat: repeat;
            background-size: auto;
            opacity: .7;
      }
      
      h1, #choosen-paymenttype {
        color: #000;
      }
    }
    
  }
  

  
  #choosen-paymenttype {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 12px;
    
  }
  
  ul.payment-types {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li.paymenttype {
      margin-bottom: 30px;    
    }
  }
  
  .unselected-left,
  .unselected-right {
    &:hover .shadow {
      box-shadow: 0 25px 40px rgba(14,21,47,0.4), 0 8px 20px rgba(14,21,47,0.4);
    }
  }
  
  .selected form {
    max-height: 800px !important;
    opacity: 1;
  }
  
  @media only screen and (min-width: 1080px) {
    
    ul.payment-types {
      width: 1040px;
      min-height: 600px;
      margin: 0 auto;
      position: relative;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    
    li.paymenttype {
      position: absolute;
      width: 300px;
      transition: transform .5s ease-in;
      
      &.selected {
        width: 440px;
      }
    }
    
    .unselected-left,
    .unselected-right {
      .box {
        transform: scale(.75);
      }
      
      .card {
        cursor: pointer;
      }
    }
    
    .cc.selected {
      transform: translate3d(300px,0,0);
    }
    
    .cc.unselected-left {
      transform: translate3d(0,0,0);
    }
    
    .cc.unselected-right {
      transform: translate3d(740px,0,0);
    }
    
    .pp.selected {
      transform: translate3d(300px,0,0);
    }
    
    .pp.unselected-left {
      transform: translate3d(0,0,0);
    }
    
    .pp.unselected-right {
      transform: translate3d(740px,0,0);
    }
    
    .ec.selected {
       transform: translateX(300px); 
    }
    
    .ec.unselected-right {
       transform: translate3d(740px,0,0); 
    }
    
    .ec.unselected-left {
       transform: translate3d(0,0,0); 
    }
   
  }
  
  header {
    position: relative;
    height: 200px;
  }
  
  .card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 300px;
    height: 188px;
    border-radius: 16px;
    perspective: 1000px;
    transition: transform .5s ease-in;
    z-index: 5;
    
    .shine {
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0;
      border-radius: 16px;
      background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
      z-index: 5;
    }
    .card-bg {
      z-index: 2;
    }
    
    .shadow {
      position: absolute;
      top: 0; 
      left: 5%;
      width: 90%;
      height: 100%;
      transition: all 0.2s ease-out;
      box-shadow: 0 8px 30px rgba(14,21,47,0.6);
      z-index: 1;
      border-radius: 16px;
    }
    
    .flipper {
      transition: 0.75s;
        transform-style: preserve-3d;
      position: relative;
      width: 300px;
      height: 188px;
    }
    
    &.flipped .flipper {
      transform: rotateY(180deg);
    }
    
    .front, 
    .back,
    .card-bg,
    .card-content {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      position: absolute;
    }
    
    .card-content {
      text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.5);
      color: #b0b0b0;
      font-family: 'Droid Serif', serif;
      z-index: 4;
      
      span {
        left: 0;
        top: 0;
        display: block;
        position: absolute;
        width: 100%;
        overflow: hidden;
        color: #7a1a86;
        padding-left: 2px;
        white-space: nowrap;
      }
      
      span + span {
        color: #a545b1;
        height: 7px;
        overflow: hidden;
      }
      
      strong {
        font-weight: normal;
      }
      
      em {
        text-transform: uppercase;
        position: absolute;
        font-style: normal;
        font-size: 9px !important;
        text-shadow: none;
        font-family: Open sans, sans-serif;
        color: rgba(255,255,255,.6);
      }
      
      .glow {
        animation: glow .5s;
      }
    }
    
    .front,
    .back {
      backface-visibility: hidden;
      box-shadow: 0 4px 8px rgba(10,10,10,0.25);
      border-radius: 16px;
    }
    
    .front {
      z-index: 2;
        transform: rotateY(0deg);
    }
    
    .back {
      z-index: 1;
        transform: rotateY(180deg);
      
      .card-content {
         opacity: .7;
         text-shadow: -1px -1px 0px rgba(0,0,0,0.5), 1px 1px 0px rgba(255,255,255,0.3);
         transform: rotateY(180deg);
        
        span + span {
          color: transparent;
        }
      }
    }
    
    .ccv {
      position: absolute;
      right: 15px;
      height: 20px;
      width: 30px;
      top: 52px;
      font-size: 14px;
      
      strong {
        font-weight: normal;
        font-style: italic;
      }
      
      em {
        position: absolute; 
        white-space: nowrap;
        font-size: 8px;
        left: -60px;
      }
    }
    
    .credit-card-type {
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: rgba(255,255,255,.4);
      width: 50px;
      height: 30px;
      border-style: solid;
      border-color: rgba(255,255,255,0);
      border-width: 2px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      
      &.amex {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/513985/amex.svg);
        background-color: #fff;
        
      }
      
      &.visa {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/513985/visa.svg);
        background-color: #fff;
      }
      
      &.mastercard {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/513985/mastercard.svg);
        background-color: #fff;
      }
    }
    
    .card-number {
      position: absolute;
      width: 240px;
      top: 100px;
      left: 30px;
      font-size: 21px;
      height: 21px;
  
      text-align: justify;
    }
    
    .card-holder {
      em {
        top: -16px;
      }
     
      span {
        letter-spacing: 1px;
      }
      span + span {
        height: 4px;
      }
    }
    
    .validuntil {
      em {
        top: 3px;
        left: -36px;
      }
      font-family: courier;
      position: absolute;
      top: 128px;
      left: 150px;
      font-size: 16px;
      height: 16px;
      width: 120px;
      white-space: nowrap;
      font-family: courier;
      
      .e-month,
      .e-divider,
      .e-year {
        letter-spacing: 1px;
        display: inline-block;
        position: relative;
        float: left;
        margin: 0 1px;
        
        span {
          position: relative;
        }
        
        span + span {
          position: absolute;
          height: 5px;
        }
      }
    }
  }
  
  
  .card-bg {
    img{
      border-radius: 12px;
    }
  }

    
    p,li {
      line-height: 1.3;
      font-size: 14px;
    }
    
    li {
      margin-bottom: 12px;
    }
    
    .form-content {
      border: 1px solid #ccc;
      padding: 70px 20px 20px 20px;
      background: #e4e4e4;
      min-height: 400px;
      
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 1;
      text-transform: uppercase;
      color: #666;
      position: relative;
    }
    
    .field label {
      top: -50px;
    }
    
    .field-group,
    .field {
      margin-bottom: 20px;
      position: relative;
    }
    
    .field {
      padding-top: 17px;
    }
    
    
    .field-group:after,
    .field-group:before {
      content: '';
      display: table;
      clear: both;
    }
    
    .focus-bar {
      display: block;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      z-index: 2;
      pointer-events: none;
      position: relative;
      
      &:before,
      &:after {
        content: '';
        height: 2px; 
        width: 0;
        bottom: 1px; 
        position: absolute;
        background: rgb(225, 157, 60); 
        transition: 0.2s ease all; 
      }
      
      &:before {
        left:50%;
      }
      
      &:after {
        right:50%; 
      }
    }
    
    input {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      border: 1px solid #CCC;
      position: relative;
      height: 32px;
      
      &:focus {
        outline: none;
      }
      
    
      
      &:focus + .focus-bar + label,
      &:focus + .focus-bar + label {
        color: #ccc;
      }
    }
    
    .expire-date {
      padding-top: 0;
      
      input {
        width: 50px;
      }
      
      div {
        float: left;
      }
      
      .divider {
        padding: 0 5px;
        line-height: 32px;
        color: #ccc;
        user-select: none;
      }
    }
    
    
    .ccv {
      width: 80px;
      float: right;
    }
    
    ::selection {
      background: rgba(253, 218, 134,.6);
    }
    
    ::-moz-selection {
      background: rgba(253, 218, 134,.6);
    }
    
    button {
      position: relative;
      overflow: hidden;
      padding: 10px;
      display: block;
      width: 80%;
      background: linear-gradient(rgb(253, 218, 134) 0px, rgb(225, 157, 60) 100%);
      color: #fff;
      font-size: 14px;
      border: 1px solid rgb(225, 157, 60);
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
      border-radius: 2px;
      margin: -20px auto 10px auto;
      transition: 0.75s ease border-color; 
      
      span {
        position: relative;
        z-index: 2;
      }
      
      &:after {
        transform: translate(-50%,-50%);
        content: '';
        background: rgb(225, 157, 60);
        width: 0px;
        height: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
      }
      
      &:hover {
        background: rgb(225, 157, 60);  
      }
      
      &:focus {
        outline: none;
        border-color: rgb(177, 106, 2);
      }
      
      &:focus:after {
        animation: anim-out 0.75s;
        animation-fill-mode: forwards;
      }
    }
  
  
  .col-50 {
    width: 50%;
    float: left;
  }
  
  
  @keyframes glow {
    0% {
     text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.5); 
    }
    70% {
      color: rgba(255,255,255,.4);
        text-shadow: -1px 1px 8px #ffc, 1px -1px 8px rgba(255,255,255,.6);
      
    }
    100% {
     text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.5); 
    }
  }
  
  @keyframes anim-out {
    0% {
      width: 0%;
      height: 0px;
    }
    100% {
      width: 200%;
      height: 300px;
    }
  }